---
import BaseLayout from '../layouts/BaseLayout.astro'
import DashboardContent from '../components/dashboard-content'
---

<BaseLayout title="Dashboard" description="Spotify music and favourite tools">
  <h1 class="mb-14 text-xl font-semibold">Dashboard</h1>
  <DashboardContent client:load />
</BaseLayout>
