---
import BaseLayout from '@/layouts/BaseLayout.astro'
import ProjectItem from '@/components/ProjectItem.astro'
import { projects } from '@/lib/projects'
---

<BaseLayout title="Projects" description="Some stuff I've built">
  <p class="text-xl font-semibold">My Projects</p>
  <ul class="mt-14 list-none p-0">
    {projects.map(p => <ProjectItem {...p} />)}
  </ul>
</BaseLayout>
