---
interface Props {
  name: string
  description: string
  href: string
  year: number
}

const { name, description, href, year } = Astro.props
---

<li
  class="-mx-4 rounded-lg bg-transparent px-4 py-3.5 transition-colors duration-150 hover:bg-accent"
>
  <a
    href={href}
    target="_blank"
    rel="noreferrer noopener"
    class="relative flex cursor-pointer items-center gap-2 align-bottom text-sm"
  >
    <p class="font-medium">
      {name}
      <span
        class="ml-0.5 hidden pl-2 font-normal text-muted-foreground sm:inline"
        >{description}</span
      >
    </p>
    <div class="project-line relative flex-1"></div>
    <p class="text-muted-foreground">{year}</p>
  </a>
</li>
